@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}
.section{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("image/jay-heike-iutGn5YwQP4-unsplash.jpg");
    height: 100vh; 
    background-size: cover;
    background-position: center center;
    
}
.flex{
    display: flex;
    position: relative;
}

.navigation{
    display: flex;
}

.logo{
    /* color: aliceblue; */
    margin-left: 2.3rem;
    margin-top: 1.5rem; 
    cursor: pointer;
}
.logo img{  
    width: 3rem;
    opacity: 80%;
}
.search_circle{
    border: 1.8px solid whitesmoke;
    width:fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: rgba(180, 180, 180, 0.24);
    padding: 0.3rem;
    position:absolute;
    right: 8rem;
    margin-top: 1.5rem;
}
.search_click{
    width: fit-content;
    border-radius: 5rem;
    display: flex;
    background-color:transparent;
    backdrop-filter: blur(1.5rem);
    padding-left: 2rem;
}
.opening ,.closing{
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.opening:focus ,.closing:focus{
    outline: none;
}
.search_text{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width:50vw;
  height:2rem;
  background-color:transparent;
  margin-left: 2rem;
  color: aliceblue;
}
.text_appear{
    display: none;
}
.search_text:focus{
    outline: none;
}
.search_circle img{
    width: 1.4rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.close{
    display: none;
}
.close img{
    width: 1.8rem;
}
#hr{
    color: aliceblue;
    background-color: aliceblue;
    margin-top: 1rem;
    height: 0.3rem;
}
.box{
   margin-top: 1%;
   /* margin-left: 15rem; */
   /* background-color: aqua; */
   position:relative;
   height: 100vh;
   display: flex;
}

.dots{
    position:fixed;
    top: 44%;
    display: flex;
    flex-flow: column;
    margin-left: 4rem;
    height: fit-content;
    line-height: 1rem;
}

.dots a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2.8px solid white;
    border-radius:50%;
    margin-top: 1.3rem;
    padding: 0.3rem;
    font-size: 3rem;
    opacity: 70%;
}

.dots a:hover{
   background-color: whitesmoke;
   opacity: 100%;
  
}

.polygon{
    position:absolute;
    right: 0.5rem;
    backdrop-filter: blur(22px);
    height:40vh;
    width: 75%;
    clip-path: polygon(8% 20%,26% 14%,12% -3%, 36% 10%,80% 10%,95% 100%,0 75%);
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 4rem 1rem 3rem;
    margin-top: 8rem;
}

.polygon .note{
    font-family: 'New Tegomin', serif;
    margin-right: 9rem;
    margin-left: 3rem;
}

.display{
    display: none;
}

.drawer{
     /* position: fixed;  */
    /* top:10rem; */
    margin-left:10rem;
    margin-right: 2rem;
    width: 100vw;
    /* background-color: red; */
    backdrop-filter: blur(22px);
    border:1.5px solid whitesmoke;
    border-radius: 3rem;
    z-index: 1000;
}

.drawer_box{
    margin: 0.5rem;
    /* background-color: red; */
    height:100%;
}

.drawer_box .close_box{
    margin: 0.4rem;
}
.close_box i{
    border: 1.8px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.grid_view{
    color: white;
    /* background-color: rgb(38, 0, 255); */
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap:2rem;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category p{
    margin-top: 0.4rem;
}

.grid_box{
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
}

.grid_box img{
    width: 4rem;
}

